<!DOCTYPE html>
<html lang="en">
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>feign</h1>
    <button id="btn">클릭</button>
</body>

<script>
    document.getElementById("btn").addEventListener('click', function (){
        $.ajax({
            url:'/feignEx',
            type:'get',
            data: '',
            success: function(data) {
                alert(data.token);
            }
        });
    });
</script>
</html>